.highlight {
  position: absolute;
  /* background: aqua; */
  /* padding: 3; */
}

.emoji {
  position: absolute;
  color: black;
  opacity: 1;
  font-size: 28px;
}

.parts {
  opacity: 1;
}


.part {
  cursor: pointer;
  position: absolute;
  background: rgba(255, 226, 143, 1);
  transition: background 0.3s;
  opacity: 0.7;
}

.scrolledTo .part {
  background: #ff4141;
}



.text-shine {
  padding: 12px 15px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
  text-align: center;
}

@keyframes shine {
  0% {
    background-position: -180px; /* Start the shine off-screen */
  }
  100% {
    background-position: 180px; /* Move the shine fully across */
  }
}

